.blog {
    &__container {
        max-width: 681px;
        margin: 0px auto;
    }

    &__title {
        margin-bottom: 55px;
    }

    &__items {
    }

    &__item {
    }
}

.blog-post {
    border-bottom: 1px solid #e0e0e0;
    padding: 0px 0px 29px 0px;
    margin: 0px 0px 32px 0px;
    &__title {
        display: inline-block;
        font-weight: 500;
        font-size: 30px;
        line-height: 44 / 30 * 100%;
        color: $mainColor;
        margin-bottom: 16px;
        @media (min-width: $md2+px) {
            &:hover {
                color: #ff6464;
            }
        }
        @media (max-width: $md3+px) {
            font-size: 26px;
            margin-bottom: 6px;
        }
    }

    &__info {
        font-size: 20px;
        line-height: 29 / 20 * 100%;
        margin-bottom: 16px;
        @media (max-width: $md3+px) {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }

    &__date {
    }

    &__separate {
        padding: 0 20px;
    }

    &__category {
        color: #8695a4;
    }

    &__text {
    }
}
.text {
}
